[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bmass"]
	path = bmass
	url = https://github.com/mturchin20/bmass
	shallow = true
	registered = true
